.DS_Store
.Spotlight-V100
.Trashes
.buildx-cache
.buildx_cache
.git
.gitattributes
.github
.gitignore

.idea/
.next/
.npm/
.nyc_output/
.pnpm-store/
.vscode/
.yarn/

README.md
Thumbs.db
ehthumbs.db

backups/
build/
coverage/
dist/
docs/
keys/
logs/
node_modules/
storybook-static/
temp/
test-results/
tmp/

._*
.env*
.DS_Store?
Dockerfile*
docker-compose*

*.backup
*.bak
*.dump
*.log
*.md
*.sql
*.swo
*.swp
*.tmp

**/node_modules
**/tests/
**/test/
**/*.spec.*
**/*.test.*
**/.pnpm-store
**/__tests__/
