{
  email {$LETSENCRYPT_EMAIL}
  order rate_limit before reverse_proxy
  storage redis {
    host redis
    port 6379
  }
}

kong.{$DOMAIN}, netdata.{$DOMAIN}, akhq.{$DOMAIN}, nui.{$DOMAIN}, sentry.{$DOMAIN}, cadence.{$DOMAIN}, alertmanager.{$DOMAIN}, blackbox.{$DOMAIN}, docs.{$DOMAIN}, gitlab.{$DOMAIN}, grafana.{$DOMAIN}, jaeger.{$DOMAIN}, keycloak.{$DOMAIN}, kuma.{$DOMAIN}, mailhog.{$DOMAIN}, minio.{$DOMAIN}, pgadmin.{$DOMAIN}, postgraphile.{$DOMAIN}, promtail.{$DOMAIN}, redisinsight.{$DOMAIN}, search.{$DOMAIN}, sonarqube.{$DOMAIN}, {$DOMAIN} {
  tls {$LETSENCRYPT_EMAIL}
  @hsts host {$DOMAIN}
  header @hsts Strict-Transport-Security "max-age=31536000"
  header {
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    X-XSS-Protection "1; mode=block"
    Referrer-Policy "strict-origin-when-cross-origin"
  }
  log {
    output file /var/log/caddy/access.log
    format json
  }
  rate_limit {remote.ip} 6000r/m
  @authExpired {
    path /callback
    query error=temporarily_unavailable
  }
  handle @authExpired {
    redir https://{host}/ 302
  }
  @keycloak host keycloak.{$DOMAIN}
  header @keycloak {
    -X-Frame-Options
    X-Frame-Options SAMEORIGIN
  }
  handle @keycloak {
    reverse_proxy keycloak:8080 {
      header_up Host {host}
    }
  }
  handle {
    reverse_proxy kong:8000 {
      header_up Host {host}
    }
  }
}

http://{$DOMAIN}, http://*.{$DOMAIN} {
  redir https://{host}{uri} 302
}
